<!-- Get src param from shortcode -->
{{ $src := $.Get "src" }}
{{ $image := .Page.Resources.GetMatch (.Get "src") }}
{{ $local := path.Join "static" $src }}
{{ $s3 := printf "https://s3.us-east-2.amazonaws.com/charlesthomas.dev/static/%s" $src }}
{{ $width := $.Get "width" }}


<!-- Get alt param from shortcode -->
{{ $alt := $.Get "alt"}}

{{- /* This shortcode create img tag with lazy loading
Params:
- "src" : relative path of image in directory "static/"
*/ -}}
{{- with .Get "src" }}
{{- $src := . }}
<img class="img-fluid"
    {{ if $width }} width="{{ $width }}" {{end }}
    {{ if fileExists $local }}
        src="{{ $src | absURL }}"
    {{ else }}
        src="{{ $s3 }}"
    {{ end }}
 alt="{{ $alt }}" loading="lazy" decoding="async">
{{- else }}
{{- errorf "missing value for param 'name': %s" .Position }}
{{- end }}
